.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .footer-item.profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .footer-item.profile img {
    width: 100%;
    height: 100%;
  object-fit: cover;
}


.container {
  max-width: 100%; /* Ensure full-width layout */
}
.footer-icon {
    color: #333; /* Default icon color */
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .footer-icon:hover {
    color: green !important; /* Icon color on hover */
  }
  .footer-label{
    font-size: 10px;
  }
  
  